//
// assets/css/layout/_typography.scss

.uppercase-title {
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-block;
}
